# Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.
#
# CONFIGURATION
#
# Example neopixel configuration:
[neopixel case_leds]
pin: PB0
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 17
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_GREEN: 1.0
initial_RED: 1.0
initial_BLUE: 1.0
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#
#
# Most configuration for the macros can be done by modifying the variables in the _sb_vars macro
# at the start of this file. 
#
# MACROS
#
# The following status macros are available:
#    LED On
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
# With additional macros for direct control:
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF
#
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker

[gcode_macro LED_Aus]
 gcode:
       SET_LED LED=case_leds GREEN=0.0 RED=0.0 BLUE=0.0 

[gcode_macro LED_Weiss]
 gcode:
       SET_LED LED=case_leds GREEN=1.0 RED=1.0 BLUE=1.0 
[gcode_macro LED_Rot]
 gcode:
       SET_LED LED=case_leds GREEN=0.0 RED=1.0 BLUE=0.0 
        
[gcode_macro LED_Blau]
 gcode:
       SET_LED LED=case_leds GREEN=0.0 RED=0.0 BLUE=1.0

[gcode_macro LED_Pink]
 gcode:
       SET_LED LED=case_leds GREEN=0.0 RED=1.0 BLUE=1.0

